* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  background-color: grey;
  height: 100vh;
}

.toDoItem {
  background-color: orangered;
  padding: 20px;
  gap: 10px;
  margin: 20px;
  width: 200px;
  height: 200px;
  display: inline-grid;
}

.active {
  background-color: greenyellow;
}